aside {
  @media (min-width: 320px) {
    padding: var(--gralPadding);
    margin: 5rem auto 0 auto;
    @media (min-width: 1280px) {
      @include flex(row, wrap, space-around, center);
    }
    @media (min-width: 1440px) {
      justify-content: center;
    }
  }
  .card {
    @media (min-width: 320px) {
      background-color: var(--testimonialsBackground);
      border-radius: 2%;
      padding: var(--gralPadding);
      @include flex(row, wrap, flex-start, center);
      margin: 1.5rem 0.75rem;
      position: relative;
      animation: cards 3s ease 20s 1;
      &:first-of-type {
        div {
          &:first-of-type {
            position: absolute;
            top: -1.25rem;
            z-index: -1;
            left: 0;
            @include size(30px, auto);
            animation: shine 2s ease 0s infinite alternate;
            @media (min-width: 1280px) {
              width: 60px;
              top: -2.5rem;
              left: -1rem;
            }
          }
        }
      }
      @media (min-width: 1280px) {
        width: 30%;
      }
      @media (min-width: 1440px) {
        margin: 0 1.25rem;
        padding: 4rem 3rem 3rem 3rem;
      }
      p {
        width: 100%;
        text-align: left;
        line-height: 1.5rem;
        margin-bottom: 0.75rem;
        padding: 0;
      }
      div {
        @include circle(48px);
        img {
          border-radius: 100%;
        }
      }
      span {
        display: block;
        padding: 0.75rem;
      }
    }
  }
}
