* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-weight: normal;
  }
  * img {
    width: 100%;
    height: auto;
  }
  body {
    font-family: var(--mainFont);
    color: var(--textsColor);
    background-color: var(--mainBackground);
    font-size: 14px;
    animation: opacity 3s ease 1;
  }
  a {
    color: var(--textsColor);
  }
  h1 {
    font-family: var(--secondaryFont);
  }
  strong {
    font-weight: bold;
  }